
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body style = "background: #f9f9f9">

<div style = "margin: 0 auto; width: 80%">
    <h2>Error Message</h2>
    <p><%= message %></p>
    <h2>Error Status</h2>
    <p><%= error.status %></p>
    <h2>Error Stack</h2>
    <pre><%= error.stack %></pre>
</div>
    
</body>
</html>
