<section>
      
    <div class="container">
        <h1 class = "text-center" >PROFILE</h1>
        <br>
        <div class = "image-icon text-center card">
           <div class = "p-3">
                <i class = "fa fa-user fa-2x"></i> <%= user.username %>
           </div>
          
        </div>
        <br>
        <br>
        <!-- <div class = "form-group">
            
            <div class="row">
              
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <p><b>NUBAN API KEY</b></p>
                    <input  value = "" class = "form-control " type = "text" placeholder = "API KEY" />
                    
                </div>
            </div>
            

        </div> -->
        <!-- <div>
            
            <button func = "UpdateMyProfile" type="button" class="btn btn-primary new-bg-color click w-50">Update Key</button>
            
        </div> -->
        <br>
       
       
      
    </div>

 
</section>
