<nav class="drawer  drawer--dark">
    <div class="drawer-spacer">
        <div class="media align-items-center">
            <a href="/user/home" class="drawer-brand-circle mr-2">O</a>
            <div class="media-body">
                <a href="/user/home" class="h5 m-0 text-link"><%= app_name %></a>
            </div>
        </div>
    </div>
    <!-- HEADING -->
    <div class="py-2 drawer-heading">
        Dashboard
    </div>
    <!-- DASHBOARDS MENU -->
    <ul class="drawer-menu" id="dasboardMenu" data-children=".drawer-submenu">
        <li class="drawer-menu-item active ">
            <a href="/user/home">
                <i class="material-icons">ac_unit</i>
                <span class="drawer-menu-text"> Dashboard</span>
            </a>
        </li>
        <li class="drawer-menu-item active ">
            <a href="/user/uploaded-batches">
                <i class="material-icons">list</i>
                <span class="drawer-menu-text"> Uploaded Batches</span>
            </a>
        </li>
      
        
        
        <li class="drawer-menu-item active"> 
            <a href = "" class="nav-link dropdown-toggle dropdown-clear-caret prevent-default"  data-toggle="sidebar" data-target="#user-drawer"> 
                 <i class="material-icons">account_circle</i>
                <span class="drawer-menu-text"> Profile</span>   
                 <!-- <span class="badge badge-pill badge-success ml-1">4</span>  -->
        </a>

           
        </li>

<!-- 

        <li class="drawer-menu-item  ">
            <a href="maps.html">
                <i class="material-icons">pin_drop</i>
                <span class="drawer-menu-text"> Maps</span>
            </a>
        </li> -->

        
    </ul>


    <!-- HEADING -->
    <div class="py-2 drawer-heading">
        <!-- Pages -->
    </div>

    <!-- PAGES MENU -->
    <!-- <ul class="drawer-menu" id="pagesMenu" data-children=".drawer-submenu"> -->
        <!-- <li class="drawer-menu-item">
            <a href="user-list.html">
                <i class="material-icons">list</i>
                <span class="drawer-menu-text">User List</span>
            </a>
        </li>


        <li class="drawer-menu-item drawer-submenu">
            <a data-toggle="collapse" data-parent="#pagesMenu" href="#" data-target="#errorsMenu"
                aria-controls="errorsMenu" aria-expanded="false" class="collapsed">
                <i class="material-icons">error</i>
                <span class="drawer-menu-text"> Error</span>
            </a>
            <ul class="collapse " id="errorsMenu">
                <li class="drawer-menu-item "><a href="error-403.html">Error 403</a></li>
                <li class="drawer-menu-item "><a href="error-404.html">Error 404</a></li>
                <li class="drawer-menu-item "><a href="error-500.html">Error 500</a></li>
                <li class="drawer-menu-item "><a href="error-503.html">Error 503</a></li>
            </ul>
        </li> -->
    <!-- <li class="drawer-menu-item"> -->
            <!-- <a class="nav-link dropdown-toggle dropdown-clear-caret"  data-toggle="sidebar" data-target="#user-drawer"> 
                 <i class="material-icons">account_circle</i>
                <span class="drawer-menu-text"> Profile</span>  -->
                <!-- <span class="badge badge-pill badge-success ml-1">4</span>  -->
          <!-- </a> -->

           
        <!-- </li> -->


    <!-- </ul> -->

</nav>