
<link rel="stylesheet" href="/css/timeline.css">

<br>
<div class = "card mx-auto w-50">
   
    <div class = "h-center p-3">
        
        <h2>Track Item</h2>
        <br>
       
       
       <br>
       
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    
                <div class="form-group">
                    <label>Order No</label>
                    <input class = "form-control item-code" placeholder = "Enter  No" />
                
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    
                
                
            </div>
        </div>
    
        <button func = "TrackItem" class = "btn btn-primary click">Track</button>
        
    </div>
</div>
<% include subview/track %> 