
<div id = "tracker">
  <div id="timeline-content">
    <!-- <h1>Delivery Timeline</h1>
  
    <ul class="timeline">
      <% for(let oo of [1, 2,3]){ %> 
      <li class="event" data-date="9th Sept, 2020 12:01">
        <h3>Order Placed</h3>
        <p>more info</p>
      </li>
    <% } %> 
      
    
    </ul> -->
  </div>
</div>